/*BLACK COLOR*/
/*

#36393f
#282b30
*/

html {
  scroll-behavior: smooth;
}

body {
  background: #36393f;
  color: #393e46;
}

header {
  background: #36393f;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 rgba(0,0,0,.2),0 1.5px 0 rgba(0,0,0,.05),0 2px 0 rgba(0,0,0,.05);
}

h1 {
  color: #43b581;
  font-style: normal;
  color: #000;
  background: #43b581;
}

footer {
  background: #43b581;
  color: #36393f;
}

.menu {
  background: #2f3136;
}

.menu i {
  color: #43b581;
  background: #222;
}

.menu .i:hover i {
  color: #fff;
  background: #43b581;
}

.menu li, .menu a {
  color: #43b581;
}

.menu .i:hover {
  background: #43b581;
  background: transparent;
}

.menu .t, .menu .i:hover, .menu .i:hover a, .menu a:hover {
  color: #f9f9f9;
}

.menu .i:active, .menu .i:active a {
  color: #fff;
}

body::-webkit-scrollbar-track, .main::-webkit-scrollbar-track, .menu::-webkit-scrollbar-track {
  background: #2f3136;
}

body::-webkit-scrollbar-thumb, .main::-webkit-scrollbar-thumb, .menu::-webkit-scrollbar-thumb {
  border-color: #2f3136;
  background: #777;
}

section {
  color: #87909c;
}

.wrap h2 {
  color: #43b581;
}

.wrap .content {
  color: hsla(0,0%,100%,.7);
  background: rgba(114,118,125,.3);
  border: solid 0px #ccc;
  border-radius: 8px;
}

/*MAIN*/
html,body {
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body::-webkit-scrollbar, .main::-webkit-scrollbar, .menu::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb, main::-webkit-scrollbar-thumb, .menu::-webkit-scrollbar-thumb {
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
}

header {
  /* display: flex; */
  /* z-index: 2; */
  /* position: fixed; */
  /* height: 70px; */
  right: 0;
  left: 231px;
  top: 0;
  align-items: center;
}

h1 {
  flex: auto;
  font-size: 40px;
  height: 150px;
  line-height: 150px;
  padding: 0;
  margin: 0;
  text-align: center;
}

footer {
  left: 231px;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.main {
  padding-left: 230px;
  position: relative;
  transition: padding 1s ease;
}

.menu {
  position: fixed;
  font-family: 'PT Sans Narrow', sans-serif;
  height: 100vh;
  font-size: 24px;
  overflow: auto;
  width: 230px;
  abox-shadow: 2px 0 10px 2px rgba(0,0,0,.2);
  transition: width 250ms ease;
  z-index: 3;
}

.menu .t {
  font-family: 'Poppins', sans-serif;
}

.menu i {
  border-radius: 2px;
  position: absolute;
  left: 5px;
  top: 5px;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  transition: all 1s ease;
  border-radius: 50px
}

.menu .i:hover i {
  border-radius: 10px
}

ul {
  margin: 0;
  padding: 50px 0;
  list-style: none;
}

ul ul {
  padding: 0;
}

li {
  position: relative;
  padding: 0 0 0 60px;
  line-height: 50px;
  transition: background 600ms linear, color 500ms ease;
}

li.i {
  cursor: pointer;
}

li a {
  text-decoration: none;
  display: block;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 100px;
  max-width: 1400px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.wrap p {
  margin: 5px 20px 20px;
}

.wrap h2 {
  width: 100%;
  text-align: center;
}

.widget2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 130px;
  width: 300px;
  margin: 10px;
  border-radius: 2px;
}

.widget2 div {
  min-height: 130px;
  width: 300px;
  border-radius: 2px;
  background: rgba(0,0,0,.3);
  margin: 10px;
}

.widget {
  display: flex;
  flex: 1;
  align-items: center;
  min-width: 300px;
  margin: 5px;
  border-radius: 2px;
  transition: ease width 500ms;
}

.widget .content {
  flex: 1;
  align-items: baseline;
  justify-content: normal;
  padding-bottom: 10px;
}

.widget h3 {
  margin: 0 10px 5px;
  padding: 5px 20px;
  border-bottom: solid 1px hsla(0,0%,100%,.1);
  abackground: #eee;
}

.widget p {
  font-size: 16px;
  line-height: 22px;
  padding: 15px 20px 5px;
  margin: 0;
  position: relative;
}

.widget span {
  position: absolute;
  afont-family: 'PT Sans Narrow';
  font-size: 12px;
  font-weight: bolder;
  top: -2px;
  left: 10px;
  color: #43b581;
}

/*
.widget:nth-child(1) {
background: #e5737366;
}

.widget:nth-child(2) {
background: #f0629266;
}

.widget:nth-child(3) {
background: #ba68c866;
}

.widget:nth-child(4) {
background: #9575cd66;
}

.widget:nth-child(5) {
background: #7986cb66;
}

.widget:nth-child(6) {
background: #64b5f666;
}

.widget:nth-child(7) {
background: #4fc3f766;
}

.widget:nth-child(8) {
background: #4dd0e166;
}

.widget:nth-child(9) {
background: #4db6ac66;
}

.widget:nth-child(10) {
background: #81c78466;
}
*/
#men {
  display: none;
  position: fixed;
  color: #ddd;
  z-index: 4;
  cursor: pointer;
}

#men:hover {
  color: #fff
}

@media screen and (max-width: 540px) {
  header {
      left:0
  }

  section {
      margin: 0 5px
  }

  .menu, ul {
      width: 100vw;
      overflow-x: hidden;
  }

  .menu i {
      width: 70px;
      height: 70px;
      font-size: 50px;
      line-height: 70px;
  }

  .main {
      height: 100%;
  }

  .main {
      padding-left: 0px;
  }

  .hide {
      width: 0vw
  }

  .menu i, i {
      width: 70px;
      height: 70px;
      left: 15px
  }

  li {
      font-size: 32px;
      line-height: 80px;
      padding: 0 0 0 110px;
  }

  #men {
      display: block;
      font-size: 70px;
  }
}
